# Config YAML will need to be manually loaded into the web application, and is not tracked
config/*.yaml

# Ignore alembic migrations
migrations/

# Ignore compiled versions of code
__pycache__/
datamodels/__pycache__/
formbuilder/__pycache__/