<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Information Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
<div class="container" role="main">
    <!-- Screen Reader-only div for messages/info/alerts from Session ID container -->
    <div id="session-id-container-messages" class="sr-only" aria-live="polite"></div>
    <!-- Title Graphics and Text -->
    <div class="title-content text-center mt-5 mb-4">
        <img src="{{ url_for('static',filename='icons/105_ub_primary.png') }}" alt="University at Buffalo The State University of New York" style="width: 300px;">
        <h1 class="mt-3">Business Information Form</h1>
        <p class="text-muted">Please fill out the form below as accurately as possible. You can always submit the form and resume at a later time by noting down the generated Session ID and pasting it into the Resume Session box when ready.</p>
    </div>
    <!-- Session ID Info Container -->
    <div class="d-flex flex-wrap session-info-container justify-content-around" role="complementary">
        <div class="px-0">
            <!-- Generated Session ID Copy Field -->
            <div class="input-group mb-3">
                <label for="session_id_generated" class="input-group-text">Session ID:</label>
                <input type="text" id="session_id_generated" class="form-control silent" readonly value="{{ session_id }}">
                <div class="input-group-append">
                    <button class="btn btn-primary input-group-button-append" id="copyButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Copied" onclick="copySessionID()"><i class="bi bi-copy"></i></button>
                </div>
            </div>
        </div>
        <div class="px-0">
            <!-- Session ID Load Field -->
            <div class="input-group mb-3">
                <label for="target_session_id" class="input-group-text">Resume Session:</label>
                <input type="text" id="target_session_id" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary input-group-button-append" onclick="loadFormData()" aria-label="Resume Session" title="Resume Session"><i class="bi bi-cloud-arrow-down"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Form Container -->
    <div class="form-container">
        <!-- Progress Bar -->
        <div class="progress form-progress">
            <div class="progress-bar bg-royal-blue" role="progressbar" aria-label="Form Progress" id="progress-bar"></div>
        </div>
        <!-- Additional Links-->
        <div class="icon-box">
            <div><a href="{{ url_for('dashboard') }}" class="btn nav-btn-royal-blue rounded-circle  my-1" title="Dashboard"><i class="bi bi-speedometer"></i></a></div>
            <div><a href="mailto:ubsomrf1@outlook.com?subject=Bug Report" class="btn nav-btn-royal-blue rounded-circle  my-1" title="Report a Problem"><i class="bi bi-bug-fill"></i></a></div>
        </div>
        <!-- Inner Form Container -->
        <div class="inner-form-container">
            <form id="info-multistep" action="{{ url_for('submit') }}" method="post" autocomplete="on">
              
                {{ form_content_html | safe }}

                <!-- Hidden field to capture page load time -->
                <input type="hidden" id="form_load_time" name="form_load_time" value="{{ page_load_time }}">
                <!-- Hidden field to capture session ID -->
                <input type="hidden" id="session_id_form_field" name="session_id_form_field" value="">
                <!-- Form Navigation buttons -->
                <div class="mt-5">
                    <div class="d-flex justify-content-center my-6" role="navigation">
                        <button type="button" class="btn nav-btn rounded-circle mx-2" title="Previous" aria-label="Previous" id="prevBtn" onclick="nextPrev(-1)"><i class="bi bi-arrow-left"></i></button>
                        <button type="button" class="btn nav-btn rounded-circle mx-2" title="Next" aria-label="Next" id="nextBtn" onclick="nextPrev(1)"><i class="bi bi-arrow-right"></i></button>
                        <button type="submit" class="btn nav-btn-royal-blue rounded-circle mx-2" title="Submit" aria-label="Submit" id="submit-button"  onclick="prepare_form_data()"><i class="bi bi-check2"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer mt-auto py-4 bg-royal-blue text-white">
    <div class="container text-center">
        <div class="row">
            <!-- Footer Links -->
            <div class="col-md-4 mb-3">
                <a href="https://management.buffalo.edu/">
                    <img src="https://management.buffalo.edu/content/dam/mgt/Shared-Images/logo-white.png" alt="School of Management, University at Buffalo" style="width: 300px;"/>
                </a>
                <br>
            </div>
            <!-- Footer Disclaimers -->
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase fw-bold" aria-level="3">Disclaimer</h6>
                <p class="small">This website collects session information. Use of this site is subject to UB's <a class="text-white" href="//www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy Policy</a>.</p>
            </div>
            <!-- Footer Contact Info -->
            <div class="col-md-4 mb-3">
                <h6 class="text-uppercase fw-bold" aria-level="3">Contact Us</h6>
                <p class="small">
                    <i class="bi bi-envelope text-white"></i><a class="text-white" href="mailto:ubsomrf1@outlook.com"> UB SOM Research Team</a><br>
                    <i class="bi bi-geo-alt"></i> 160 Jacobs Management Center <br> Buffalo, NY 14260-4000
                </p>
            </div>
        </div>
        <!-- Copyright -->
        <div class="row">
            <div class="col-12 mt-3">
                <p class="small mb-0">&copy; 2024 <a class="text-white" href="//www.buffalo.edu/">University at Buffalo.</a> All rights reserved. | <a class="text-white" href="//www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy</a>  |  <a class="text-white" href="//www.buffalo.edu/access/about-us/contact-us.html">Accessibility</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>
