<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
    <div class="container mb-3" style="min-height: 65vh;">
        <!-- Title -->
        <div class="text-left mt-5 mb-4">
            <h1>Log In</h1>
            <p class="text-muted">UB SOM Research Team members only. Please reach out for access or authentication issues.</p>
        </div>
        <!-- Flash Messages -->
        <div class="container mt-2 px-0">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if 'incorrect password' in message.lower() %}
                    <div class="flash-msg alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div class="flash-msg alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <!-- Authentication Form -->
        <div class="container px-0">
            <div class="row mt-4">
                <div class="col-md-6">
                    <form action="{{ url_for('login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="email" class="form-control" id="username" name="username" placeholder="victor@buffalo.edu">
                        </div>
                        <div class="form-group my-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary" aria-label="Login">Login</button>
                        <a class="btn btn-secondary" href="{{ url_for('form') }}" aria-label="Back">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-royal-blue text-white">
        <div class="container text-center">
            <div class="row">
                <!-- Footer Links -->
                <div class="col-md-4 mb-3">
                    <a href="https://management.buffalo.edu/">
                        <img src="https://management.buffalo.edu/content/dam/mgt/Shared-Images/logo-white.png" alt="School of Management, University at Buffalo" style="width: 300px;"/>
                    </a>
                    <br>
                </div>
                <!-- Footer Disclaimers -->
                <div class="col-md-4 mb-3">
                    <h6 class="text-uppercase fw-bold">Disclaimer</h6>
                    <p class="small">This website collects session information. Use of this site is subject to UB's <a class="text-white" href="//www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy Policy</a>.</p>
                </div>
                <!-- Footer Contact Info -->
                <div class="col-md-4 mb-3">
                    <h6 class="text-uppercase fw-bold">Contact Us</h6>
                    <p class="small">
                        <i class="bi bi-envelope text-white"></i><a class="text-white" href="mailto:ubsomrf1@outlook.com"> UB SOM Research Team</a><br>
                        <i class="bi bi-geo-alt"></i> 160 Jacobs Management Center <br> Buffalo, NY 14260-4000
                    </p>
                </div>
            </div>
            <!-- Copyright -->
            <div class="row">
                <div class="col-12 mt-3">
                    <p class="small mb-0">&copy; 2024 <a class="text-white" href="//www.buffalo.edu/">University at Buffalo.</a> All rights reserved. | <a class="text-white" href="//www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy</a>  |  <a class="text-white" href="//www.buffalo.edu/access/about-us/contact-us.html">Accessibility</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
